#content {

}

.left-panel {
    
}

.summary {
    display: block;
    text-align: center;
    font-weight: bold;
}

.right-panel {
    

}
.right-top{
    
}

.right-bot{
    
}

.table-left-game{
    width: 100%;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.thumb{
    max-width: 25%;
    max-height: 25%;
}

.pics{
    text-align: right;
}